{% extends 'base.html' %}
{% block content %}

<h2>{{ page_title }}</h2>
<p>
	The family battles a parasite that implants fake memories into their heads, which leads them to wonder if they are
	real themselves.
</p>
<p>
	The Smith Family is having breakfast with Jerry's older brother, Uncle Steve, when Jerry receives an email about
	purchased plane tickets. Uncle Steve then admits that he bought them as a thank you to the family for letting him
	stay for the past year. When Rick comes into the room, he doesn't know who Uncle Steve is, and the family rebuffs
	him, claiming that Uncle Steve has stayed with them for the past year. Rick then pulls out a laser pistol and shoots
	Uncle Steve in the head who turns out to be a monstrous figure. While the Smith family gasp in shock at the
	realization that Uncle Steve wasn't real, Rick informs them that he was a parasite, an alien species that survive
	and multiply by implanting fake memories into people's head so they can conquer planets. He tells them to be aware
	of "wacky, zany characters that suddenly appear" and is encouraged by a newly introduced zany character, Mr.
	Poopybutthole.
</p>

{% for member in company %}

<div class="row featurette">

	{% if loop.index % 2 != 0 %}

	<div class="col-md-7">
		<h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
		<p>
			{{ member.description }}
		</p>
	</div>
	<div class="col-md-5">
		<img class="featurette-image img-responsive" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
    </div>
		{% else %}
		<div class="col-md-5">
			<img class="featurette-image img-responsive" src="{{ member.image_source }}" alt="Picture of {{ member.name }}">
    </div>
			<div class="col-md-7">
				<h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
				<p>
					{{ member.description }}
				</p>
			</div>
			{% endif %}
		</div>
        {% if loop.index != loop.length %}
		<hr class="featurette-divider">
        {% endif %}
		{% endfor %}
		{% endblock %}